conftest 0.56.0
golang 1.26.1
golangci-lint 2.11.3
pre-commit 4.4.0
regula 3.2.1 # https://github.com/launchbynttdata/asdf-regula
terraform 1.10.3
terraform-docs 0.20.0
terragrunt 0.77.22
tflint 0.57.0
